<header class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand mr-auto" href="#">
            <img src="/static/imgs/logo.png" alt="" style="width: 40px;">Peliculas 
        </a>
        <ul class="navbar-nav">
            <li class="nav-item mr-2">
                {% if current_profile is defined %}
                    <a href="{{ url_for('profiles.profile_by_id',id=current_profile.id) }}" class="text-white">
                    <img src="{{ url_for('images.profile_img',image=current_profile.img_path) }}" alt="Foto de perfil" width="40px"/>
                    {{ current_profile.profile_name }}
                {% endif %}
            </a>    
            </li>
            
            <li class="nav-item">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Profiles</button>
                    <div class="dropdown-menu">
                        {% for profile in profiles %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('home.home') }}?profile={{ profile.profile_name }}">
                                <img class="rounded-circle img-fluid mx-2" src="{{ url_for('images.profile_img',image=profile.img_path) }}" width="40px;"/>
                                {{ profile.profile_name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            <li class="nav-item">        
                <a class="nav-link" href="{{  url_for('search.search') }}">
                    <img src="/static/imgs/magnifyging_glass.png" alt="search">
                </a>
            </li>
            <li class="nav-item">
                <a class="text-white" href="{{ url_for('auth.log_out') }}">Cerrar sesión</a>
            </li>
            
        </ul>
    </nav>
</header>