<footer class="bg-dark mt-4">
    <div class="container">
        <div class="row justify-content-center align-items-center minh-100">
            <img width="64px" src="/static/imgs/logo_footer.png" alt="logo"/>
        </div>
        <div class="row justify-content-center align-items-center minh-100">
            <div class="col-*-*">
                <ul class="list-inline text-white">
                    <li class="list-inline-item">Términos y Aviso de privacidad</li>
                    <li class="list-inline-item">Cometarios</li>
                    <li class="list-inline-item">Sugerencias</li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img src="/static/imgs/png/001-facebook.png"/>
                    </li>
                    <li class="list-inline-item">
                        <img src="/static/imgs/png/002-twitter.png" alt=""></li>
                    <li class="list-inline-item">
                        <img src="/static/imgs/png/004-instagram-bosquejado.png" alt="">
                    </li>
                    <li class="list-inline-item">
                        <img src="/static/imgs/png/003-youtube.png" alt="">
                    </li>
                </ul>
            </div>

            </div>
        </div>
            </ul>
        </div>
        <!--<div class="text-white">Iconos diseñados por <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.es/"     title="Flaticon">www.flaticon.com</a></div><div class="text-white">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"     title="Flaticon">www.flaticon.com</a></div>
        Iconos diseñados por <a href="https://www.flaticon.es/autores/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
    </div>-->
</footer>