<header class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand mr-auto" href="index.html">
            <img src="/static/imgs/logo.png" alt="" style="width: 40px;">
            Peliculas 
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-primary">
                    <a href="#" class="text-white">
                    Prueba gratis
                    </a>
                </button>
            </li>

            <li class="nav-item">
                <a href="#planes" class="nav-link">
                    Planes
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    ¿Quiénes somos?
                </a>
            </li>
            
        </ul>
    </nav>
</header>